{% extends "auctions/layout.html" %}
{% load static %}


{% block body %}
<h2>{{auction.product_name}}</h2>

<img src="{% get_static_prefix %}img/{{auction.image}}" alt="No photo">
<!--a href="/make_a_bet/{{auction.name}}">Make a bet</a-->
<form action="/category/auction/{{auction.name}}" method="post">
    {% csrf_token %}
    {{form.as_table}}
    <input type="submit" value="send">
</form>
<p style="font-size: 400%; position: relative ;top: -250px;left: 800px;"><strong>{{auction.price}}</strong>&ensp;грн</p>
{% if not add_auction %}
<a href="add_auction/{{auction.name}}"><img
        src="{% static 'img/add-to-favorites.png' %}" alt="Add to favorites"></a>
{% else %}
<a href="/del_auction/{{auction.name}}"><img style="width: 91px;height: 91px;"
        src="{% static 'img/delete-favorit.jpeg' %}" alt="Remove from
        favorites"></a>
{% endif %}

{% if auction.author_auct == users %}
<a href="/close_the_auction/{{auction.name}}">Сlose the auction</a>
{% endif %}

<h5>Description </h5>
<p>{{auction.description}}</p>

<h5>Сomment for this product {{auction.name}}</h5>

{% if comments %}
{% for comment in comments %}
<div>
<p>{{comment.author_comments}}</p>
<p style="width: 1000px; ;">{{comment.comments}}</p>
<p>{{comment.date_comm}}</p>
<hr>
</div>
{% endfor %}
{% else %}
<p>No comments</p>
{% endif %}

<form action="/comments/{{auction.name}}" method="post">
    {% csrf_token %}
    {{form_comment.as_table}}
    <input type="submit" value="send">
</form>   
    
{% endblock %}
