{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
<h2>Active Listings</h2>


<p><a href="category/Home">Home</a></p>
<p><a href="category/Home"><img src="{% static 'img/Home.png' %}"
            alt="Home"></a></p>


<p><a href="category/Fashion">Fashion</a></p>
<p><a href="category/Fashion"><img src="{% static 'img/Fashion.png' %}"
            alt="Fashion"></a></p>


<p><a href="category/Toys">Toys</a></p>
<p><a href="category/Toys"><img src="{% static 'img/Toys.png' %}"
            alt='Toys'></a></p>


<p><a href="category/Electronics">Electronics</a></p>
<p><a href="category/Electronics"><img
            src="{% static 'img/Electronics.png' %}"
            alt="Electronics"></a></p>



{% endblock %}